#main{
    background-color: wheat;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

p{
    font-size: 20px;
}

.footer{
    color: whitesmoke;
    text-align: center;
    font-size: 15px;
}

